.post-heading{
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 50px;
  margin-top: 80px;
}

.post-divider{
  margin-top: 50px;
  margin-bottom: 50px;
}

.lead{
  display: block;
}

p{
  display: inline-block;
}