
@media (min-width: 1200px) {
  .post-heading{
    font-size: 20px;
  }
}

.post-heading{
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 20px;
}

.lead{
  font-size: 16px;
  margin-bottom: 10px;
}

.post-item{
  margin-top: 20px;
}
.post-item:hover{
  background-color: #eee;
}

.descript{
  padding-bottom: 16px;
}