<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">My blog</a>
    </div>

    <!--search component-->
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" #searchBox />
      </div>
      <button class="btn btn-default" (click)="search(searchBox.value)">搜索</button>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
        <ul class="dropdown-menu" *ngIf="isLogin != false ">
          <li><a class="blog-nav-item" [routerLink]="['/user', user._id, '1']">欢迎, {{user.username}}</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="blog-nav-item" routerLink="/post-manage" *ngIf="user.gender === 'adm'">管理博客</a></li>
          <li><a class="blog-nav-item" routerLink="/comment-manage" *ngIf="user.gender === 'adm'">管理评论</a></li>
          <li><a class="blog-nav-item" routerLink="/addPost">发表文章</a></li>
          <li><a class="blog-nav-item" (click)="SignOut()">登出</a></li>
        </ul>
        <ul class="dropdown-menu" *ngIf="isLogin == false ">
          <li><a class="blog-nav-item" routerLink="/signin">登录</a></li>
          <li><a class="blog-nav-item" routerLink="/signup">注册</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>