<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <a routerLink="/"><h1>My Blog</h1></a>
      <p>my simple blog</p>
    </div>
  </div>
</div>
<div class="nav-setting">
  <div class="ui buttons">
      <div class="ui floating dropdown button">
        <i class="icon bars"></i>
        <div class="menu" *ngIf="isLogin != false ">
           <a class="item" [routerLink]="['/user', user._id]">欢迎, {{user.username}}</a>
           <div class="divider"></div>
           <a class="item" routerLink="/addPost">发表文章</a>
           <span class="item" (click)="SignOut()">登出</span> 
        </div>
        <div class="menu" *ngIf="isLogin == false ">
           <a class="item" routerLink="/signin">登录</a>
           <a class="item" routerLink="/signup">注册</a> 
        </div>
      </div>
  </div>
</div>