<div class="container blog-comment">
  <div class="row">
    <div class="col-sm-8 comment-area">
      <h2>所有评论</h2>
      <div class="comment-item clearfix" *ngFor="let comment of comments; index as i">
        <div class="comment-head">
          <a [routerLink]="['/user', comment.userId._id, 1]">{{comment.userId.username}}</a>
          对博客
          <a [routerLink]="['/readPost', comment.postId._id]">{{comment.postId.title}}</a>
          发表了如下评论
          <span class="floor comment-meta">{{comment.createdAt}}</span>
<!--           <span class="floor"  *ngIf="curUser.gender === 'adm' "><button class="btn btn-default del-comm-btn" (click)="deleteComment(comment)">删除</button></span> -->
        </div>
        <p class="comment-body">{{comment.content}}</p>
        <div class="btn-bar clearfix"><button class="btn btn-redBorder" (click)="deleteComment(comment)">删除</button></div>
        <div class="btn-bar clearfix" *ngIf=" comment.isShielded == false"><button class="btn btn-redBorder" (click)="shield(comment)">屏蔽</button></div>
        <div class="btn-bar clearfix" *ngIf=" comment.isShielded == true"><button class="btn btn-default" (click)="Unshield(comment)">取消屏蔽</button></div>

      </div>
    </div>
  </div>
</div>