<div class="container">
  <h2>博客列表</h2>
  <p>当前共有{{posts.length}}篇</p>
  <div *ngFor="let post of posts" class="post-item">
    <div class="row">
      <div class="col-md-10 col-md-push-2 describe">
        <h2 class="post-heading">{{post.title}}</h2>
        <p class="lead">{{post.text}}</p>
        <span><a class="btn btn-primary" [routerLink]="['/readPost', post._id]" role="button">详情</a></span>
        <span *ngIf="curUser.gender === 'adm' && post.isShielded == false"><button class="btn btn-default" (click)="shield(post)">屏蔽</button></span>
        <span *ngIf="curUser.gender === 'adm' && post.isShielded == true"><button class="btn btn-default" (click)="Unshield(post)">取消屏蔽</button></span>
        <span *ngIf="curUser.gender === 'adm' "><a class="btn btn-danger" [routerLink]="['/deletePost', post._id]" role="button">删除</a></span>
      </div>
      <div class="col-md-2 col-md-pull-10">
        <img class="img-responsive center-block" src="images/1.jpg" alt="Post Cover">
      </div>
    </div>
    <hr>
  </div>
  <button (click)="goBack()" class="btn btn-default">Back</button>
</div>
