<h3>{{post.title}}</h3>
<div>{{post.text}}</div>

<h3 class="ui minimal comments">留言</h3>
<div *ngFor="let comment of comments">
  <div class="content">
    <a [routerLink]="['/user', comment.userId._id]">{{comment.userId.username}}</a>
    <div class="metadata">
      <span class="date">{{comment.createdAt}}</span>
    </div>
    <div class="text">{{comment.content}}</div>
    <div class="actions" *ngIf="curUser != {} && curUser._id == comment.userId._id ">
      <button (click)="deleteComment(comment._id)">删除</button>
    </div>
  </div>
</div>

<div *ngIf="curUser != {}">
  <div class="field">
    <textarea cols="50" rows="5" [(ngModel)]="form.content"></textarea>
  </div>
  <p><button (click)="addComment()">留言</button></p>
</div>

<button (click)="goBack()">Back</button>
