<!-- <div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" (ngSubmit)="login()">
      <div class="field required">
        <label for="name">用户名</label>
        <input type="text" name="name" placeholder="用户名" [(ngModel)]="loginUser.name">
      </div>
      <div class="field required">
        <label for="password">密码</label>
        <input type="password" name="password" placeholder="密码" [(ngModel)]="loginUser.password">
      </div>
      <button type="submit" class="ui button fluid">登录</button>
    </form>
  </div>
</div> -->

<div class="container">
  <form class="form-signin" (ngSubmit)="login()">
    <h2 class="form-signin-heading">登录</h2>
    <div class="form-group">
      <label for="name">用户名</label>
      <input type="text" name="name" class="form-control" placeholder="用户名" required autofocus [(ngModel)]="loginUser.name">
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" name="password" class="form-control" placeholder="密码" required [(ngModel)]="loginUser.password">
    </div>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>

</div> 