<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form (ngSubmit)="createUser()" #userForm="ngForm" class="ui form segment">
      <div class="field required">
        <label for="name">用户名</label>
        <input placeholder="用户名" type="text" name="name" [(ngModel)]="newUser.name">
      </div>
      <div class="field required">
        <label for="password">密码</label>
        <input placeholder="密码" type="password" name="password" [(ngModel)]="newUser.password">
      </div>
      <div class="field required">
        <label for="repassword">重复密码</label>
        <input placeholder="重复密码" type="password" name="repassword" [(ngModel)]="newUser.repassword">
      </div>
      <div class="field required">
        <label for="gender">性别</label>
        <select class="ui compact selection dropdown" name="gender" [(ngModel)]="newUser.gender">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
      <div class="field required">
        <label for="bio">个人简介</label>
        <textarea name="bio" rows="5" [(ngModel)]="newUser.bio"></textarea>
      </div>

      <button type="submit" class="ui button fluid">注册</button>
    </form>
  </div>
</div>